### Loops in python

* loops are used to execute block of statements repeatedly

#### Types of loops
* while loop
* for loop
* Nested loops

### while loop:

* while loop is used to execute block of statements repeatedly until the test condition satisfied. 
* If the condition false then the statement immediately after the loop is executed
* We use while loop if we dont know number of iterations in advance

##### syntax:

* initialization
* while condition:
    * statements
    * incre/decre

In [3]:
# write a python program to print 1 to 10 numbers 

i=1
while i<=10:
    print(i,end=" ")
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [6]:
# print 1 to 10 numbers in reverse order
i=10
while i>=1:
    print(i,end=" ")
    i=i-1

10 9 8 7 6 5 4 3 2 1

In [11]:
# write a program to print sum of n natural numbers
# i/p: n=4 o/p: 10 (1+2+3+4)

n=int(input("enter a number: "))
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
print("sum is:" , sum)

enter a number: 5
sum is: 15

### for loop

* For loop is used to iterate over a sequence
* syntax:
    * for var in sequence:
        * statements

In [19]:
# write  a program to print 1 to 10 numbers

# range(start,stop,step)
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [20]:
# write  a program to print odd numbers in the range (1,11)
for i in range(1,11,2):
    print(i,end=" ")

1 3 5 7 9

In [21]:
# write  a program to print even numbers in the range (1,11)
for i in range(2,11,2):
    print(i,end=" ")

2 4 6 8 10

In [24]:
lis=["ram","syam","madhu","lavanya","hima"]
for name in lis:
    print(name)
    if name=="madhu":
        break

ram
syam
madhu

In [27]:
name="Shiva"
for ch in name:
    print(ch)

S
h
i
v
a

### Nested loops

* If we write a loop inside another loop then it is called as nested loop

##### Nested while
* while condition:
    * while condition
        * statements
    * statements

In [30]:
# 1,11
# 2,12
# 3,13

i=1
j=11
while i<=3:
    while j<=13:
        print(i,",",j)
        j=j+1
        i=i+1

1 , 11
2 , 12
3 , 13

##### Loop control statements
* break
* continue

* break: break is usedto exit from the loop
* continue: is used o skip the code for the current iteration only , loop will continue for the next iteration

In [36]:
s="python"
for ch in s:
    if ch=='o':
        break
    print(ch)

p
y
t
h

In [37]:
s="python"
for ch in s:
    if ch=='o':
        continue
    print(ch)

p
y
t
h
n

### Strings:
* string is a group of characters
* strings are enclosed with either single quotes or double quotes

In [47]:
s="python"
print(s)
print(type(s))
print(len(s))   # length of a string

python
<class 'str'>
6

In [44]:
# accessing characters inside a string
# by using index
""" p y t h o n"
    0 1 2 3 4 5 forward index
   -6-5-4-3-2-1 backward index"""
s="python"
print(s[0])
print(s[-6])
print(s[3])
print(s[-3])
print(s[5])

p
p
h
h
n

In [46]:
n=input()
print(n[-1]) # last character
print(n[0])  # first character

rain
n
r

In [49]:
## string concatenation +
s1="python"
s2=" programming"
print(s1+s2)

python programming

In [50]:
# repetition *
s1*4

'pythonpythonpythonpython'

In [54]:
# string slicing [start:end:step]
s="apple" # app
print(s[0],s[1],s[2])
print(s[0:3]) 
# ple
print(s[2:5])

a p p
app
ple

In [57]:
s="LBRCE"  #LRE
#print alternate characters starting
# from 0th index
print(s[0:5:2])
print(s[::2])

LRE
LRE

In [58]:
s="LBRCE"  #BC
#print alternate characters starting
# from 1st index

s[1::2]

'BC'

In [60]:
# print the string in reverse order

s="machine learning"
print(s[::-1])

gninrael enihcam

In [64]:
# write a program to check the given string is 
# palindrome or not

s=input("enter a string: ")
rev=s[::-1]
print("reversed string: ",rev)
if s==rev:
    print("given string is a palindrome")
else:
    print("not a palindrome")

enter a string: mom
reversed string:  mom
given string is a palindrome

In [67]:
# string functions

print(dir(s),end=" ")

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [70]:
s="java"
s.islower() # returns true if the given string is
#in lowercase otherwise returns false

True

In [71]:
"YAHOO".islower()

False

In [72]:
"YAHOO".isupper() # returns true if the given string
# is in uppercase otherwise returns false

True

In [73]:
s="python123"
s.isalpha()  # returns true if the given string
# contains alphabets otherwise returns false

False

In [74]:
s="python"
s.isalpha()

True

In [77]:
s="678899"
s.isdigit() # returns true if the given string
# contains digits otherwise returns false

True

In [76]:
s="678899#@%"
s.isdigit()

False

In [78]:
s="Android"
s.index('r') # to get the index of a given character

3

In [79]:
s="raining"
s.count('i') # count of a char inside a string

2

In [81]:
# write a program to print count of a substring
s="python program python python"
print(s.count('python'))

3

In [82]:
# write a program to swap 1st and last character
# of a string

# i/p: rain
# o/p: nair

In [83]:
s="program678"
s.isalnum() # returns true if  given string contains
#alphabets and numbers otherwise returns false

True

In [84]:
s="program@@@678"
s.isalnum()

False

### Functions

* Function is a block of statements which is used to perform a specific task

* syntax:
    * def funcname():
        * statements

In [1]:
# write a function to add two numbers

def addition():
    n1=int(input("enter number1: "))
    n2=int(input("enter number2: "))
    res=n1+n2
    print("result is:",res)
    
addition() # function calling

enter number1: 9
enter number2: 789
result is: 798

In [4]:
# write a function to find whether the given number
#is even number or not

def evenCheck():
    n=int(input("enter a number: "))
    if n%2==0:
        print("even number")
    else:
        print("odd number")
evenCheck()

enter a number: 102
even number

* Based on parameters and return type functions are categorized into 4 types
* function with parameters without return
* function without parameters without return
* function without parameters with return
* function with parameters with return

In [6]:
# function with parameters without return

# multiplication of 3 numbers

def mul(a,b,c):
    res=a*b*c
    print("multiplication result is: ",res)
    
mul(5,4,5)

multiplication result is:  100

In [9]:
# function without parameters without return

def div():
    a=float(input("enter number1:"))
    b=float(input("enter number2:"))
    res=a/b
    print("result is: ",res)
div()

enter number1:200
enter number2:3
result is:  66.66666666666667

In [10]:
# function without parameters with return

# cube of a given number
def cube():
    n=int(input("enter a number: "))
    c=n*n*n
    return c
cube()

enter a number: 6

216

In [11]:
# function with parameters with return
# square of a given number

def square(n):
    res=n**2
    return res
square(9)

81

In [12]:
#TASKS:

#1.write a function for swapping of 2 numbers
    # a=10 b=20   -> before swapping
    # a=20 b=10   -> after swapping
    
#2.write a function to check whether the given
# number is prime or not

#3.write a function to check given year is leap year or not

In [13]:
#1.write a function for swapping of 2 numbers
    # a=10 b=20   -> before swapping
    # a=20 b=10   -> after swapping
    
def swap(a,b):
    print("before swapping values are: ",a,b)
    temp=a
    a=b
    b=temp
    print("after swapping values are: ",a,b)
swap(10,20)

before swapping values are:  10 20
after swapping values are:  20 10

In [14]:
s="hello"
s.upper()

'HELLO'

In [15]:
s="PYTHON"
s.lower()

'python'

In [17]:
s="java program"
s.capitalize()

'Java program'

In [19]:
s="java program"
s.title()

'Java Program'